.profile {
  margin: 1.7067rem 0.8533rem;

  .profile-header {
    display: flex;
    align-items: center;
    margin: 1.28rem 0;

    img {
      width: 1.7067rem;
      height: 1.7067rem;
      margin-right: 0.4267rem;
    }
  }

  .personal-box {
    padding: 0;

    .personal-avatar {
      img {
        width: 3.4133rem;
        height: 3.4133rem;
      }
      .personal-name {
        p {
          &:nth-child(1) {
            font-size: 0.7467rem;
          }
          &:nth-child(2) {
            color: #fff;
            font-size: 0.8533rem;
          }
        }
      }
    }
  }

  .profile-list {
    margin-top: 1.2rem;
    border-top: 1px solid #5b5b5b;
    padding-top: 0.8533rem;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        margin: 0.8533rem 0;

        img {
          width: 1.28rem;
          height: 1.28rem;
          margin-right: 0.6533rem;
        }

        p {
          font-size: 0.7467rem;
        }
      }

      img {
        width: 0.7467rem;
        height: 0.7467rem;
      }
    }
  }
}
