.updateProfile_page {
  margin: 1.7067rem 0.8533rem 3.5rem 0.8533rem;

  .updateProfile_name {
    display: flex;
    align-items: center;
    margin: 1.28rem 0;

    img {
      width: 1.7067rem;
      height: 1.7067rem;
      margin-right: 0.4267rem;
    }
  }

  .MuiInputBase-input {
    background: floralwhite;
    height: 1.5rem;
    font-size: 0.8533rem;
    padding: 0.4267rem 1rem;
    border-radius: 1.0667rem;
  }

  .MuiFormLabel-root {
    font-size: 0.8533rem;
    line-height: 0.8533rem;
    color: rgb(0, 0, 0);
  }

  .MuiInputLabel-root.Mui-focused {
    color: #fcaf52;
    font-size: 1rem;
  }

  .MuiInputBase-root {
    border-radius: 1.0667rem;
    background-color: white;
  }

  // .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  //   color: #fcaf52;
  // }

  .MuiButtonBase-root {
    color: rgb(0, 0, 0);
    border-color: rgb(99, 99, 100);
    min-width: 5.6667rem;
    border-radius: .8rem;
  }

  .MuiButton-contained {
    background: #f1761c;
    min-width: 10.6667rem;
    border-radius: .8rem;
  }

  // .css-1ualgfl-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  //   background: floralwhite;
  //   border-radius: 1.0667rem;
  //   height: 2.533rem;
  // }

  #socialtype-label {
    color: #000000;
  }
}