.footer-box {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  justify-content: space-between;
  width: 19rem;
  // margin: 0 0.5rem;
  // background-color: #cccccc;
  // filter: grayscale(100%) contrast(130%) brightness(90%);
  padding: .4267rem 0.5rem;
  border-top-left-radius: .8533rem;
  border-top-right-radius: .8533rem;
  background: rgba(63, 35, 35, 0.9);
  // border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);

  div {
    width: 20%;
    background: unset;
    box-shadow: unset;

    .fontcolor {
      text-decoration: unset;
      color: #efefef;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .active {
      color: #edcb43;
      text-decoration: unset;
    }

    p {
      font-size: .5867rem;
      // font-family: Lucida Family;
      margin-top: .2133rem;

    }
    span{
      position: absolute;
      top:-.4rem;
      right:1rem;
      font-size: .64rem;
    }
  }
}