.search-box {
  display: flex;
  align-items: center;
  margin: 0 .65333rem;
  background: #381319;
  border-radius: 1.6rem;
  padding: .4rem 1.1rem ;
  // padding: .85rem 1.1rem ;
  

  .iconfont {
    color: #f0c04c;
    font-size: 1.1rem;
    margin-right: .4267rem;
  }

  input {
    border: none;
    background: none;
    font-size: .7467rem;
    color: #f0c04c;
  }
  .placeholder{
    color: aqua;
  }
}