.container {
  // width: 100%;
  height: 2.1333rem;
  background-color: #a03939;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  // margin: 20px auto;
  position: relative;
  margin-left: 0.3267rem;
  text-align: center;
  padding-right: 0.8rem;
  margin-top: .3rem;
}

.code {
  font-size: 1.0667rem;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 2px 2px 0 #f2f2f2;
  user-select: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  padding-top: 1.3rem;
  text-align: center;
  &:hover {
    transform: scale(1.2);
  }
}
